<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="CSV Import Editor"
            extensions="csv"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.darthcoder.csvimporteditorplugin.editors.CSVEditor"
            id="com.darthcoder.csvimporteditorplugin.editors.CSVEditor">
      </editor>
   </extension>

</plugin>
